<h1 mat-dialog-title>{{title}} Data Source</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <form [formGroup]="dsTypeForm" class="datasourcetypeform">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Select Connector Type" formControlName="connectortype" (selectionChange)="ontypeSelect();">
        <mat-option *ngFor="let connectortype of connectorTypes" [value]="connectortype.value">
          {{ connectortype.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <form [formGroup]="flatfileForm" class="datasource-form" *ngIf=enablelinks.flatfiletype>
    <div class="form-container">
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="dsName" placeholder="Data Source Name" required>
      </mat-form-field>
      <div *ngIf="flatfileForm.controls['dsName'].errors && !flatfileForm.controls['dsName'].pristine" class="alert alert-danger">
        <div [hidden]="!flatfileForm.controls['dsName'].errors.required">Data Source Name is required.</div>
      </div>
      <div *ngIf="flatfileForm.controls['dsName'].errors?.pattern" class="alert alert-danger">
        Enter a valid Data Source Name.
      </div>
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="ehremail" placeholder="EHR Admin Email" required/>
      </mat-form-field>
      <div *ngIf="flatfileForm.controls['ehremail'].hasError('required') && flatfileForm.controls['ehremail'].touched" class="alert alert-danger">You must enter a valid email.</div>
      <div *ngIf="flatfileForm.controls['ehremail'].errors?.pattern" class="alert alert-danger">
        Enter a valid Email.
      </div>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Select EHR Database Server" formControlName="ehrdb" required>
          <mat-option *ngFor="let ehrdb of ehrdbs" [value]="ehrdb.value">
            {{ ehrdb.viewValue }}
          </mat-option>
        </mat-select>
        <!--<mat-error *ngIf="flatfileForm.hasError('required')">Please choose an endpoint type</mat-error>-->
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="endPoint" placeholder="EndPoint URL" required>
      </mat-form-field>
      <div *ngIf="flatfileForm.controls['endPoint'].errors && !flatfileForm.controls['endPoint'].pristine" class="alert alert-danger">
        <div [hidden]="!flatfileForm.controls['endPoint'].errors.required">Endpoint Url is required.</div>
      </div>
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="contact" placeholder="EHR Admin Contact Number" minlength="10" maxlength="10"
          required>
      </mat-form-field>
      <div *ngIf="flatfileForm.controls['contact'].hasError('minlength') && flatfileForm.controls['contact'].touched" class="alert alert-danger">Contact Number must be at least 10 digits long.</div>
      <div *ngIf="flatfileForm.controls['contact'].hasError('maxlength') && flatfileForm.controls['contact'].touched" class="alert alert-danger">Contact Number should not exceed 10 digits long.</div>
      <div *ngIf="flatfileForm.controls['contact'].errors?.pattern" class="alert alert-danger">
        Enter a valid Phone Number.
      </div>
      <!--<div *ngIf="flatfileForm.controls['contact'].errors?.pattern" class="alert alert-danger">
        Enter a valid Phone Number.
      </div>-->
      <button mat-raised-button color="primary" class="saveButton" (click)="saveopenType()" [disabled]="flatfileForm.invalid">Save</button>
    </div>
  </form>
  <form [formGroup]="HL7CCDAForm" class="datasource-form" *ngIf=enablelinks.hl7ccda>
    <div class="form-container">
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="securedsName" placeholder="Data Source Name" required>
      </mat-form-field>
      <div *ngIf="HL7CCDAForm.controls['securedsName'].errors && !HL7CCDAForm.controls['securedsName'].pristine" class="alert alert-danger">
        <div [hidden]="!HL7CCDAForm.controls['securedsName'].errors.required">Datasource Name is required.</div>
      </div>
      <div *ngIf="HL7CCDAForm.controls['securedsName'].errors?.pattern" class="alert alert-danger">
        Enter a valid Data Source Name.
      </div>
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="endpointurl" placeholder="EndPoint URL" required>
      </mat-form-field>
      <div *ngIf="HL7CCDAForm.controls['endpointurl'].errors && !HL7CCDAForm.controls['endpointurl'].pristine" class="alert alert-danger">
        <div [hidden]="!HL7CCDAForm.controls['endpointurl'].errors.required">Endpoint Url is required.</div>
      </div>
      <!--<mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="secureiss" placeholder="Issue URL" required>
        <div *ngIf="dssecureForm.controls['secureiss'].errors && !dssecureForm.controls['secureiss'].pristine" class="error-msg">
          <div [hidden]="!dssecureForm.controls['secureiss'].errors.required">Issue Url is required.</div>
        </div>
      </mat-form-field>-->

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Select Authentication Type" formControlName="authentication" (selectionChange)="onsecuritySelect();"
          required>
          <mat-option *ngFor="let security of securities" [value]="security.value">
            {{ security.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="HL7CCDAForm.controls['authentication'].errors && !HL7CCDAForm.controls['authentication'].pristine" class="alert alert-danger">
        <div [hidden]="!HL7CCDAForm.controls['authentication'].errors.required">Authentication type is required.</div>
      </div>

    </div>
  </form>
  <form [formGroup]="secureForm" class="datasource-form" *ngIf=enablelinks.securetype>
    <div class="form-container">
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="clientid" placeholder="Client Id" required>
      </mat-form-field>
      <div *ngIf="secureForm.controls['clientid'].errors && !secureForm.controls['clientid'].pristine" class="alert alert-danger">
        <div [hidden]="!secureForm.controls['clientid'].errors.required">Client Id is required.</div>
      </div>
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="secureiss" placeholder="Issuer URL" required>
      </mat-form-field>
      <div *ngIf="secureForm.controls['secureiss'].errors && !secureForm.controls['secureiss'].pristine" class="alert alert-danger">
        <div [hidden]="!secureForm.controls['secureiss'].errors.required">Issuer Url is required.</div>
      </div>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Select Scope" formControlName="scope" multiple required>
          <mat-option *ngFor="let scope of scopes" [value]="scope.value">
            {{ scope.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--<div class="upload-container">
        <span>Select Private Key:</span>
        <input id="input-file-id" type="file" formControlName="privateKey" />
        <button color="primary" type="button" mat-raised-button for="input-file-id" onclick="document.getElementById('input-file-id').click();">
          <mat-icon>attach_file</mat-icon> Select Private Key</button>
      </div>-->
      <button mat-raised-button color="primary" class="saveButton" (click)="saveopenType()" [disabled]="secureForm.invalid">Save</button>
    </div>
  </form>
  <form [formGroup]="openForm" class="datasource-form" *ngIf=enablelinks.opentype>
    <div class="form-container">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Select Scope" formControlName="userscope" multiple required>
          <mat-option *ngFor="let scope of scopes" [value]="scope.value">
            {{ scope.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" class="saveButton" (click)="saveopenType()" [disabled]="openForm.invalid">Save</button>
    </div>
  </form>
</div>