@import 'variables';
.apptable {
  margin-top: 45px;
}

.content-header h1 {
  color: $primary-blue;
  flex-grow: 8;
}

.content-header button {
  flex-grow: 1;
  align-self: center;
}

.content-header {
  display: flex;
  flex-direction: row;
}

.mat-card-content {
  padding-top: 30px;
}
