@import 'custom-theme';
$header-background: rgba(251, 176, 54, 1);
$menu-list-active: #00579f;
$menu-list-active-text: #fff;
$primary-blue: #00579f;
$secondary-blue: rgba(33, 150, 243, 0.2);
$warning-red: #f44336;
$color-bright-green: #8dd32e;
$color-white:#fff;
