<header class="header">
  <div class="header-left">
    &nbsp;
  </div>
  <div class="header-center">
    <img src="assets/images/InteropX_DX_NewLogo.png" class="custom-logo" alt="" itemprop="logo">
  </div>
  <div class="header-right">
    <div *ngIf="isLoggedIn$ | async as isLoggedIn" class="userInformation">
      <p class="userName">John Smith</p>
      <button mat-button class="menubtn" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>My Account</button>
        <button mat-menu-item (click)="logout();">Logout</button>
      </mat-menu>
    </div>
  </div>
</header>
