@import 'variables';
.mat-dialog-title {
  color: $primary-blue;
  font-size: 22px;
}
.mat-dialog-actions{
    float: right;
}
.mat-card{
    margin-bottom: 10px;
    margin-top: 10px;
}
.mat-dialog-content input{
    width: 98%;
    height:100px;
}