<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
<Properties>
<!-- Currently puts logs in glassfish domain/configs folders -->
<Property name="log-path">../logs/workflowdata</Property>
</Properties>

<Appenders>
	<RollingFile name="file-log" fileName="${log-path}/audit.log"
	filePattern="${log-path}/workflowdata-%d{yyyy-MM-dd}.log">
		<PatternLayout>
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
		</PatternLayout>
		<Policies>
			<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
		</Policies>
	</RollingFile>
	
	<Console name="console" target="SYSTEM_OUT">
		<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
	</Console>
</Appenders>
<Loggers>
	<Root level="info" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="file-log"/>
	</Root>
	<Logger level="error" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="file-log"/>
	</Logger>
</Loggers>
</Configuration>