@import 'variables';

  .content-header h1 {
    color: $primary-blue;
    flex-grow: 8;
  }
  
  .content-header button {
    flex-grow: 1;
    align-self: center;
  }
  
  .content-header {
    display: flex;
    flex-direction: row;
  }
  
  .mat-card-content {
    padding-top: 30px;
  }
  .mat-form-field{
    width:330px;
    margin-left: 540px;
  }
  .table-bordered {
    border: 0px;
  }
  
  .table-bordered .mat-header-row,
  .table-bordered .mat-row {
  
    //display: flex;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    align-items: unset;
    margin: 0px;
    padding: 0px;
    box-sizing: unset;
    min-height: 40px;
  }
  
  .table-bordered>.mat-header-row>.mat-header-cell {
    border: 1px solid #ddd;
    line-height: 1.42856;
    border-right-width: 0;
    padding: 8px 10px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .table-bordered>.mat-header-row>.mat-header-cell:last-child {
    border-right-width: 1px;
  }
  
  .table-bordered>.mat-row>.mat-cell {
    border: 1px solid #ddd;
    border-bottom-width: 0px;
    line-height: 1.42856;
    padding: 0px 10px;
    word-break: break-all;
  }
 
  .table-bordered>.mat-row>.mat-cell  > .mat-icon{
    color: $primary-blue;
   
  }
  .table-bordered>.mat-row>.mat-cell:not(:last-child) {
    border-right-width: 0px;
  }
  
  .table-bordered>.mat-row:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  .mat-header-cell>.mat-sort-header-container {
    display: flex;
    justify-content: center;
  }
  
  .mat-header-cell .mat-sort-header-container .mat-sort-header-arrow {
    margin: 5px;
  }
  
  .table-bordered .mat-column-select {
    max-width: 40px;
    justify-content: center;
  }
  
  .table-bordered .mat-row:hover{
    cursor: pointer;
  }